streamlit
lxml[html_clean]
requests
pandas
sentence-transformers
faiss-cpu
nltk
cohere
newspaper3k
spacy
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.5.0/en_core_web_md-3.5.0.tar.gz
